body{
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #5e425e;*/
    background-color: orange;
    font-size: 14px;
    color: #f2f2f2;
    padding: 30px;
}

h2{
    color: blue;
}