body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #6d2a6d;
    font-size: 14px;
    color: white;
    padding: 30px;
}

.container{
    padding: 50px;
    background-color: #aa88ff;
    text-align: center;
    border-radius: 15px;
}

.box{
    border: 2px solid #32254f;
    margin: 20px;
    border-radius: 15px;
    padding: 15px;
}

.box-1{
    color: #f2f2f2;
    margin: 50px;
}

.box-2{
    color: red;
    margin: 50px 0px 50px 0px;
}

.box-3{
    color: #32254f;
    margin-bottom: 50px;
}

.box-4{
    color: #00FF00;
    margin-left: 50px;
}

.box-5{
    color: #800080;
    font-size: 25px;
    margin-right: 50px;
}

.box-6{
    color: olive;
    font-size: 30px;
}
