
body {
    /* background-color: rgb(2, 122, 122); */
    background-image: url('../img/imc_fundo.jpg');
    background-size: cover;
    background-position: center;
    
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}



.input-group {
    background-color: white;
    align-items: center;
    border: 2px solid black;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.header-group {
    display: flex;
    align-items: center;
    gap: 15px;
}

img{
    width: 50px;
    height: 50px;
}

button {
    background-color: rgb(4, 125, 50);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.resultado-group {
    background-color: white;
    align-items: center;
    border: 2px solid black;
    padding: 15px;
    border-radius: 10px;
    display: none;
}