body {
    background-color: rgb(2, 122, 122);
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    align-items: center;
    border: 2px solid black;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

button {
    background-color: rgb(4, 125, 50);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#resultado {
    background-color: white;
    align-items: center;
    border: 2px solid black;
    padding: 15px;
    border-radius: 10px;
    display: none;
}

.footer {
    position: absolute;
    /* Fixa o footer no final da página */
    bottom: 0;
    text-align: center;
    width: 100%;
    color: white;
    margin-top: 20px;
    padding: 10px 0;
    font-size: 0.9rem;
    backdrop-filter: blur(5px);
}